@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {

    background: #979393;
}

::-webkit-scrollbar-thumb {
    background: #605d5d;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}